.navbar{

    .collapse {

        justify-content: flex-end;
    
        .navbar-nav {
    
            .nav-item {
    
                .nav-link {
    
                    font-family: 'Quicksand', sans-serif;
                    text-transform: uppercase;
                    color: rgb(0, 0, 0);
                }
            }
        }
    }
}

.dropdown-menu{

    font-family: 'Quicksand', sans-serif;
    font-size: smaller;
    color: black;

}

