@import 'variables';

* {
    margin: 0;
    padding: 0;
}

@import 'header';

/*----------------------------------------------------------------------------------------------------------------*/
/*GENERAL*/

body {

    background-color: black;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*INDEX*/

.carousel-item {

    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row {

    margin: 2%;

    .w-100 {

        opacity: 0.7;

        &:hover {

            opacity: 1;
        }
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*ARTICLES*/

.card {

    background-color: black;

    &:hover {

        background-color: rgb(26, 26, 26);
    }

    .card-body {

        color: white;
        text-align: justify;
    }
}

.card{
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*ABOUT*/

.name {

    color: rgba(255, 255, 255, 0.797);
}

.text-container {

    border-top: solid;
    border-color: white;
    border-width: 1px;

    .text {

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 200;
        padding-top: 3%;
        text-align: justify;
        color: white;
    }
}

.imgDisplay {

    text-align: center;
    vertical-align: middle;

    .imgAbout {

        height: 70%;
    }
}


/*----------------------------------------------------------------------------------------------------------------*/
/*CONTACT*/

.row {

    margin-top: 6%;

    .form-control {

        background: rgba(0, 0, 0, 0);
        color: white;

        &:focus {

            background-color: rgba(255, 255, 255);
            box-shadow: none;
            color: black;
        }
    }

    .form-label {

        color: white;
        opacity: 0.8;
    }

    .btn {

        background-color: rgba(0, 0, 0, 0);
        border-color: white;

        &:hover {

            background-color: white;
            color: black;
        }

        &:focus {

            box-shadow: none;
        }
    }
}

/*----------------------------------------------------------------------------------------------------------------*/
/*FOOTER*/


@import 'footer';