@import 'variables';

* {
    margin: 0;
    padding: 0;
}

@import 'header';

/*----------------------------------------------------------------------------------------------------------------*/
/*GENERAL*/


/*----------------------------------------------------------------------------------------------------------------*/
/*INDEX*/

.carousel-item {

    height: 100vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*FOOTER*/


@import 'footer';